body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Martian Mono', 'monospace'; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, p, a, span{
  font-family: 'Rubik', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
